.loginSite,
.signupSite,
.profileSite {
  background-color: var(--background-color);
  height: 100vh;
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  margin-bottom: 2rem;
}
.main {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}
.loginSite,
.signupSite {
  /* justify-content: center; */
}
