.loginSite {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signupSite {
  background-color: var(--background-color);
  /* background-color: #8a4eff; */
  /* background-color: rgb(253, 255, 192); */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profileSite {
  background-color: aqua;
}
.contactInfo {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lists {
  background-color: pink;
  border: 1px solid black;
  display: flex;
}
