.loginSite,
.signupSite,
.profileSite {
  background-color: var(--background-color);
  height: 100vh;
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginSite,
.signupSite {
  justify-content: center;
}
