.profileUserContainer {
  /* color: rgb(117, 117, 117); */
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
  width: clamp(275px, 100%, 950px);
  max-height: 80%;
  overflow-y: auto;
  /* align-items: center; */
  border-radius: 8px;
  /* backdrop-filter: blur(2px); */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.profileUserContainer::-webkit-scrollbar {
  width: 5px;
}
.profileUserContainer::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 20px;
}
.scrollUpButton {
  background-color: var(--primary-color);
  position: relative;
  top: 0;
  right: 0;
}
.heroImage {
  /* Change to url */
  background-color: var(--tertiary-color);
  min-width: 230px;
  /* width: 100%; */
  height: 200px;
  margin-bottom: 100px;
}

.profilePicture {
  /* change to url */
  background-color: var(--secondary-color);
  height: 200px;
  width: 200px;
  border: 5px solid white;
  border-radius: 50%;
  /* z-index: 1; */
  position: relative;
  top: 95px;
  left: 15px;
  /* transform: translate(-50%, -50%); */
}
.contactInfo {
  /* display: flex;
  flex-direction: column; */
  width: 50%;
}
.iconGroup {
  display: flex;
}
.listButtons {
  /* background-color: pink; */
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.listButton {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid transparent;
}
.listButton:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
}
.activeButton {
  border-bottom: 2px solid var(--primary-color);
}
.listContainer {
  border-top: 1px solid rgb(167, 167, 167);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  background-color: color-mix(in srgb, grey, transparent 20%);
  backdrop-filter: blur(1px);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
