.card {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding: 15px;
}
.profilePicture {
  /* height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden; */
  /* background-color: var(--secondary-color); */
}
.roundedImage {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* height: 100%;
  width: 100%; */
  object-fit: cover;
}
