.postContainer {
  background-color: white;
  padding: 3.5rem;
  width: clamp(275px, 100%, 950px);
  max-height: 80%;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.postContainer::-webkit-scrollbar {
  width: 5px;
}
.postContainer::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 20px;
}
.editProfileButton {
  padding: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  background-color: color-mix(in srgb, grey, transparent 20%);
  backdrop-filter: blur(1px);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
