.form {
  color: rgb(117, 117, 117);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
  width: clamp(275px, 100%, 450px);
  align-items: center;
  border-radius: 8px;
  /* backdrop-filter: blur(2px); */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
/* Input/Label */
.inputGroup {
  width: 100%;
}

.inputGroup_input {
  width: 100%;
  display: block;
  padding: 0.3rem;
  margin-top: 0.1rem;
  outline: none;
  border: 1px solid grey;
  border-radius: 0.2rem;
}
.inputGroup_input:focus {
  border: 1px solid var(--primary-color-cta-button);
}

.inputGroup_label {
  /* margin-bottom: 1rem; */
  font-size: 1rem;
}
/* Input */
.inputGroup_input:not(:focus):invalid,
.inputGroup_input:not(:focus).invalid {
  border: 1px solid var(--error-color);
  animation: error-shake 500ms;
}
/* Error Span */
.inputGroup_input:not(:focus):invalid ~ .inputGroup_error,
.inputGroup_input:not(:focus).invalid ~ .inputGroup_error {
  visibility: visible;
  animation: error-shake 500ms;
}
.inputGroup_error {
  color: var(--error-color);
  display: block;
  visibility: hidden;
  margin-top: 5px;
  /* margin-bottom: 10px; */
  font-size: 0.7rem;
}
.inputGroup_error,
.inputGroup_input {
  --left: 0;
  left: var(--left);
  position: relative;
}

/* Button */
.updateBtn,
.formBtn {
  font-size: 20px;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  background-color: var(--primary-color-cta-button);
  color: white;
  border-radius: 5px;
  border: 1px solid black;
}
.updateBtn:hover,
.formBtn:hover {
  cursor: pointer;
  background-color: var(--secondary-color-cta-button);
}
.updateBtn:active {
  transform: scale(0.95);
}
.deleteBtn {
  display: flex;
  gap: 15px;
  font-size: 20px;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  background-color: var(--danger-color);
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  --left: 0;
  left: var(--left);
  position: relative;
}
.deleteBtn:hover {
  cursor: pointer;
  animation: error-shake 500ms infinite;
}
/* Animations */
@keyframes error-shake {
  0% {
    --left: -8px;
  }
  20% {
    --left: 6px;
  }
  40% {
    --left: -4px;
  }
  60% {
    --left: 2px;
  }
  80% {
    --left: -1px;
  }
  100% {
    --left: 0;
  }
}
