.card {
  /* display: flex; */
  border-top: 1px solid black;
  gap: 2rem;
  padding: 15px;
  min-width: 300px;
}
.card:hover {
  background-color: var(--background-color);
}
.editSection {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.iconGroup {
  display: flex;
  gap: 5px;
}
.author {
  font-size: 15px;
  color: grey;
}
.content {
  font-size: 20px;
}
.commentList {
  /* background-color: var(--background-color); */
  border-left: 1px solid grey;
  /* margin: 1rem; */
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  background-color: color-mix(in srgb, grey, transparent 20%);
  backdrop-filter: blur(1px);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
