.profileUserContainer {
  background-color: white;
  padding: 3.5rem;
  width: clamp(275px, 100%, 950px);
  max-height: 80%;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.profileUserContainer::-webkit-scrollbar {
  width: 5px;
}
.profileUserContainer::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 20px;
}
.scrollUpButton {
  position: fixed;
  bottom: 15px;
  right: 50px;
  border: none;
  background: var(--tertiary-color);
  border-radius: 50%;
}

.scrollUpButton:hover {
  cursor: pointer;
}
.headerSection {
  position: relative;
  min-width: 230px;
  height: 200px;
  margin-bottom: 100px;
}
.heroImage {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profilePicture {
  height: 200px;
  width: 200px;
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 95px;
  left: 15px;
  z-index: 1;
}

.editProfileButton {
  padding: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
}
.contactInfo {
  margin: 15px 0;
}
.iconGroup {
  display: flex;
  gap: 15px;
}
.listButtons {
  /* background-color: pink; */
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.listButton {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid transparent;
}
.listButton:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
}
.activeButton {
  border-bottom: 2px solid var(--primary-color);
}
.listContainer {
  border-top: 1px solid rgb(167, 167, 167);
  padding-top: 3.5rem;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  background-color: color-mix(in srgb, grey, transparent 20%);
  backdrop-filter: blur(1px);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
